
.button
{
          -fx-opacity: 1;
          -fx-font: 24px "Calibri";
          -fx-font-weight:bold;
          -fx-background-color: #e50914;
          -fx-text-fill:#ffffff;
          -fx-padding: 8;
          -fx-background-radius:5;
          -fx-effect: dropshadow(one-pass-box, black, 14, 0.0 , 6, 0);

}


.button.black
{
          -fx-opacity: 1;
          -fx-font: 24px "Calibri";
          -fx-font-weight:bold;
          -fx-background-color: #e50914;
          -fx-text-fill:#ffffff;
          -fx-padding: 8;
          -fx-background-radius:5;
          -fx-effect: dropshadow(one-pass-box, black, 14, 0.0 , 6, 0);

}
.button:hover
{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.textfield
{
-fx-alignment:center;
 -fx-background-color: #333;
 -fx-font: 16px "Calibri";
 -fx-text-fill:#ffffff;
}
.form
{
    -fx-text-color:#ffffff;
    //-fx-opacity: 0.7;
    -fx-background-color: rgba(0, 0, 0, 0.85);
    -fx-padding: 10;
    -fx-background-radius:5;
    -fx-text-fill:#ffffff;
}
.background{
    -fx-text-color:#ffffff;
    //-fx-opacity: 0.7;
    -fx-background-color: rgba(0, 0, 0, 1);
    //-fx-background-color: :#ffffff;
    -fx-padding: 10;
    -fx-text-fill:#ffffff;
}
.top
{
    -fx-background-color: #3f4245;
     -fx-padding: 10;
     -fx-background-radius:5;
     -fx-text-fill:#ffffff;
}

.center
{
    -fx-background-color: #3f4245;
    -fx-padding: 10;
    -fx-background-radius:5;
    -fx-text-fill:#ffffff;
}

.bottom{
     -fx-background-color: #333;
     -fx-padding: 10;
     -fx-background-radius:5;
     -fx-text-fill:#ffffff;
}

.list-cell
{
    -fx-font: 18px "Calibri";
    -fx-alignment:center;
     -fx-background-color: #181a1b ;
     -fx-padding: 10;
     -fx-background-radius:5;
     -fx-text-fill:#ffffff;
}
.list-cell:empty
{
     -fx-background-color:  #3f4245;

}
.list-cell:empty:hover
{
     -fx-background-color:  #3f4245;

}
.list-cell:selected
{
     -fx-background-color:rgba(0, 0, 0, 1);
}


.list-cell:hover
{
     -fx-background-color: #333;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #3f4245;
    -fx-border-color : #3f4245;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : #3f4245;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : #3f4245;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#181a1b;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :#181a1b;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
